@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Tiro+Bangla&display=swap');
body {
    margin:0;
    padding:0;
    outline: 0;
    font-family: 'Tiro Bangla', serif;
}

ul,li,h1,h2,h3,h4,h5,h6,p {
    margin:0;
    padding:0;
    outline: 0;
}
li {
    list-style: none;
    display: inline-block;
}
a:hover,
a:focus,
a {
    text-decoration: none;
    color:#000;
}
form input::placeholder {
    font-size: 15px;
    color: #888;
}
button:focus,
button {
    border: none !important;
    box-shadow: none !important;
}
input:focus {
    box-shadow: none !important;
}
.campaign_item img {
    width: 100%;
}
.campaign_title {
    font-size: 42px;
    color: #E91E78;
    font-weight: 700;
}
.campaign_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    align-items: center;
    background: #f1f1f1;
    padding: 10px;
    margin: 35px 0;
}
.cam_short_description * {
    font-size: 19px !important;
    color: #444;
    margin: 17px 0;
    font-weight: 700;
}
#cam_order_now {
    background: #E91E78;
    color: #fff;
    text-align: center;
    padding: 10px 25px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}
.campaign_review svg {
    color: #FBC315;
    font-size: 13px;
}
.cam_short_description {
    border: 2px solid #108BC3;
    padding: 9px 7px;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #222;
    font-weight: 600;
}
.cam_description {
    margin: 20px 0;
}

.campaign_review span {
    font-weight: 500;
    margin-left: 15px;
}

.cam_description ul li {
    margin-left: 20px;
    position: relative;
    display: block;
}

.cam_description ul li:after {
    position: absolute;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    background: #108BC3;
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

.cam_discount .card-header {
    background: #108BC3;
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: #fff;
    padding: 10px 0;
}
.cam_price {
    text-align: center;
    font-weight: 900;
    font-size: 30px;
}
.cam_price del {
    color: #666;
}
.campaign_offer {
    margin: 50px 0;
    color: #E91E78;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}
button.order_place {
    background: #E91E78;
    color: #fff;
    display: block;
    width: 100%;
    padding: 8px 0;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
}
.checkout-shipping label {
    font-weight: 600;
    margin-bottom: 10px;
}
.qty-cart .quantity {
    position: relative;
    border: 1px solid #ddd;
    height: 46px;
    overflow: hidden;
    margin: 20px 0;
}
.qty-cart {
   width: 150px;
}
.quantity input {
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    font-weight: 500;
}
.quantity .minus {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 9;
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-right: 1px solid #ddd;
    text-align: center;
    font-size: 40px;
    cursor: pointer;
}
.quantity input {
    position: relative;
    text-align: center;
    font-size: 16px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    font-weight: 500;
    border: 0;
}
.quantity .plus {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 9;
    height: 45px;
    line-height: 45px;
    width: 45px;
    border-left: 1px solid #ddd;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
}
.cam_description li,.cam_description p {
    font-family: none !important;
}
.campain_review_section {
    padding: 35px 20px;
    text-align: center;
    background: #f1f1f1;
    margin-bottom: 25px;
}
.office_address {
    width: 100%;
}
.review_title {
    margin-bottom: 25px;
}
.office_address {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    margin-top: 15px;
    display: block;
    width: 70%;
    padding: 20px 0;
    border-radius: 5px;
    background: #f8f8f8;
}